## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.apply(lambda col: len(col.unique()))

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2170        1
C3700        1
C2600        1
C1236        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_replace=list(classification_count[classification_count < 100].index)

# Replace in dataframe
for cls in class_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df)
dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummy_df['IS_SUCCESSFUL']
X = dummy_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled.shape

(25724, 49)

## Compile, Train and Evaluate the Model

In [ ]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=49, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 400

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 451
Trainable params: 451
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
X_train_scaled.shape

(25724, 49)

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6256 - accuracy: 0.6681
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7188
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7230
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7253
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7278
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7292
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7276
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7276
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7292
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7302
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7292
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7306
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7310
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7317
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7306
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7314
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7318
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7315
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7319
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7325
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7332
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7328
Epoch 26/100
804/804 [==============================] - 1s 975us/step - loss: 0.5456 - accuracy: 0.7332
Epoch 27/100
804/804 [==============================] - 1s 983us/step - loss: 0.5453 - accuracy: 0.7332
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 1s 959us/step - loss: 0.5452 - accuracy: 0.7336
Epoch 30/100
804/804 [==============================] - 1s 961us/step - loss: 0.5451 - accuracy: 0.7334
Epoch 31/100
804/804 [==============================] - 1s 975us/step - loss: 0.5451 - accuracy: 0.7337
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 33/100
804/804 [==============================] - 1s 975us/step - loss: 0.5449 - accuracy: 0.7336
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7343
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7344
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7342
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7339
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7353
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7344
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7339
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7349
Epoch 55/100
804/804 [==============================] - 1s 978us/step - loss: 0.5433 - accuracy: 0.7346
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7350
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7349
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7351
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7349
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7347
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7360
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7347
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7354
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7349
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7354
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7349
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7355
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7363
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7351
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7349
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7351
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7360

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5513 - accuracy: 0.7305 - 408ms/epoch - 2ms/step
Loss: 0.5512621402740479, Accuracy: 0.7304956316947937

In [ ]:
# Export our model to HDF5 file
nn.save("charity_attempt_1.h5")

NameError: name 'nn' is not defined